
h1{
    background-color: navy;
    color: white;
}

h2{
    color: black;
}

.container{
    display: flex;
}

.main-container{
    background-color: lightcyan;
    color: navy;
    flex: 1;
    width: 600px;
}

.menu{
    width: 300px;
    height: 100vh;
    margin: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu a{
    color: white;
}

.menu nav{
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    width: 80%;
}

.contrib{
    width: 300px;
    min-width: 200px;
}

.contrib-section{
    background-color: navy;
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.contrib-section h4{
    text-align: center;
}