h1{
    text-align: center; 
}
h1 q{
    color: #1d8791;
}

h2{
    color: #184F79;
}

strong{
    font-size: larger;
    color: #184F79;
}

span{
    background-color: #4dc8b9;
}

article{
    background-color: #e2c5a6;
    padding: 1em;
    border: solid #184F79 0.15em;
}

footer{
    font-size: x-small;
    text-align: end;
    color: #e5b8bb;
}

img{
    float: right;
    width: 400px;
    height: 150px;
}